.head{
  justify-content: center;
  text-align: center;
}

body{
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('4.jpg');
  height: 122vh;
}
.title{
  font-size: 50px;
  font-weight: 700;
  font-style: italic;
  margin-top: 20px;
}
.welcome{
  font-size: 23px;
  font-weight: 400;
  font-style: oblique;
  margin-top: 20px;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.name{
  color:black;
  font-size: 30px;
  font-weight: 700;
  margin-top: 8px;
  
}
.name-box{
  width: 360px;
  font-weight: 700;
  height: 40px;
  padding-left: 15px;
  border-color: rgb(68, 23, 158);
  border-radius: 16px;
}
.btn{
  font-size: 20px;
}
.reg{
  justify-content: center;
  display: flex;
  margin-top: 30px;
}
.validation{
  color: orangered;
  font-size: 20px;
  font-weight: 700;
  margin-left: 10px;
}